<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataSource" value="Data Source= C:\Users\gamil\Documents\VB Projects\SPM\SMPData\SMPDataBase.mdf;"/>
    <add key="DataProvider" value="Provider=Microsoft.Jet.OLEDB.4.0;"/>
    <add key="DataProvider2" value="Provider=.NET Framework Data Provider for SQL Server;"/>
    <add key="DataProvider3" value="Provider=Provider=SQLOLEDB;"/>
    <add key ="ConnectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\gamil\Documents\VB Projects\SPM\SMPData\SMPDataBase.mdf;Integrated Security=True;Connect Timeout=30"/>
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>